<h1>Anchor#index</h1>

<ul>
  <li><%= link_to "turbo", anchor_redirect_path(anchor: "target") %></li>
  <li><%= link_to "no turbo", anchor_redirect_path(anchor: "target"), data: { turbo: false } %></li>
</ul>

<ul>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
</ul>


<div id="target">
 <h1>TARGET</h1>
 <p>
    This is what we want to get to!
 </p>
</div>