<h1>Anchor#index</h1>

<ul>
  <li><%= link_to "turbo (patch)", anchor_redirect_path(anchor: "target"), data: { "turbo-method": :patch } %></li>
  <li><%= link_to "turbo (get)", anchor_redirect_path(anchor: "target") %></li>
  <li><%= link_to "no turbo (get)", anchor_redirect_path(anchor: "target"), data: { turbo: false } %></li>
</ul>

<ul>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
 <li>Take up some space ...</li>
</ul>


<turbo-frame id="target">
 <h1>TARGET</h1>
 <p>
    This is what we want to get to!
 </p>
</turbo-frame>